In [21]:
import numpy as np
import pandas as pd
from sklearn.svm import SVR

In [3]:
load_df = pd.read_csv('Data/DOM/Load Actuals/Processed/Aggregated/load.csv')
load_df

                      DATE       MW
0      2015-01-01 00:00:00  12571.0
1      2015-01-01 01:00:00  12449.0
2      2015-01-01 02:00:00  12295.0
3      2015-01-01 03:00:00  12354.0
4      2015-01-01 04:00:00  12543.0
...                    ...      ...
43819  2019-12-31 19:00:00  11682.0
43820  2019-12-31 20:00:00  11443.0
43821  2019-12-31 21:00:00  11167.0
43822  2019-12-31 22:00:00  10839.0
43823  2019-12-31 23:00:00  10593.0

[43824 rows x 2 columns]

In [4]:
weather_df = pd.read_csv('Data/DOM/Weather/Processed/Aggregated/weather.csv')
weather_df

                      DATE   TMP   DEW  WND
0      2015-01-01 00:00:00  30.0  18.0  1.0
1      2015-01-01 01:00:00  28.0  19.0  1.0
2      2015-01-01 02:00:00  27.0  18.0  2.0
3      2015-01-01 03:00:00  27.0  18.0  2.0
4      2015-01-01 04:00:00  27.0  16.0  2.0
...                    ...   ...   ...  ...
43819  2019-12-31 19:00:00  55.0  31.0  5.0
43820  2019-12-31 20:00:00  54.0  30.0  4.0
43821  2019-12-31 21:00:00  53.0  30.0  4.0
43822  2019-12-31 22:00:00  48.0  31.0  4.0
43823  2019-12-31 23:00:00  48.0  30.0  5.0

[43824 rows x 4 columns]

In [5]:
calendar_df = pd.read_csv('Data/calendar.csv')
calendar_df

,DATE,IS_MONDAY,IS_TUESDAY,IS_WEDNESDAY,IS_THURSDAY,IS_FRIDAY,IS_SATURDAY,IS_SUNDAY,IS_JANUARY,IS_FEBRUARY,...,IS_JULY,IS_AUGUST,IS_SEPTEMBER,IS_OCTOBER,IS_NOVEMBER,IS_DECEMBER,IS_PREVDAY_HOLIDAY,IS_CURRENTDAY_HOLIDAY,IS_NEXTDAY_HOLIDAY,IS_DAYAFTER_HOLIDAY
0,2015-01-01 00:00:00,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,2015-01-01 01:00:00,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,2015-01-01 02:00:00,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3,2015-01-01 03:00:00,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,2015-01-01 04:00:00,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2019-12-31 19:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
43820,2019-12-31 20:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
43821,2019-12-31 21:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
43822,2019-12-31 22:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
43823,2019-12-31 23:00:00,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [6]:
df = pd.concat([load_df,weather_df, calendar_df]).groupby('DATE').mean()

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 43824 entries, 2015-01-01 00:00:00 to 2019-12-31 23:00:00
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   MW                     43824 non-null  float64
 1   TMP                    43824 non-null  float64
 2   DEW                    43824 non-null  float64
 3   WND                    43824 non-null  float64
 4   IS_MONDAY              43824 non-null  float64
 5   IS_TUESDAY             43824 non-null  float64
 6   IS_WEDNESDAY           43824 non-null  float64
 7   IS_THURSDAY            43824 non-null  float64
 8   IS_FRIDAY              43824 non-null  float64
 9   IS_SATURDAY            43824 non-null  float64
 10  IS_SUNDAY              43824 non-null  float64
 11  IS_JANUARY             43824 non-null  float64
 12  IS_FEBRUARY            43824 non-null  float64
 13  IS_MARCH               43824 non-null  float64
 14  IS_APRIL               43824 non-null  float64
 15  IS_MAY                 43824 non-null  float64
 16  IS_JUNE                43824 non-null  float64
 17  IS_JULY                43824 non-null  float64
 18  IS_AUGUST              43824 non-null  float64
 19  IS_SEPTEMBER           43824 non-null  float64
 20  IS_OCTOBER             43824 non-null  float64
 21  IS_NOVEMBER            43824 non-null  float64
 22  IS_DECEMBER            43824 non-null  float64
 23  IS_PREVDAY_HOLIDAY     43824 non-null  float64
 24  IS_CURRENTDAY_HOLIDAY  43824 non-null  float64
 25  IS_NEXTDAY_HOLIDAY     43824 non-null  float64
 26  IS_DAYAFTER_HOLIDAY    43824 non-null  float64
dtypes: float64(27)
memory usage: 9.4+ MB

In [7]:
df_usable = df[168:]
df_usable

,MW,TMP,DEW,WND,IS_MONDAY,IS_TUESDAY,IS_WEDNESDAY,IS_THURSDAY,IS_FRIDAY,IS_SATURDAY,...,IS_JULY,IS_AUGUST,IS_SEPTEMBER,IS_OCTOBER,IS_NOVEMBER,IS_DECEMBER,IS_PREVDAY_HOLIDAY,IS_CURRENTDAY_HOLIDAY,IS_NEXTDAY_HOLIDAY,IS_DAYAFTER_HOLIDAY
DATE,,,,,,,,,,,,,,,,,,,,,
2015-01-08 00:00:00,16801.0,20.0,-1.0,9.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 01:00:00,16847.0,18.0,-6.0,9.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 02:00:00,16997.0,17.0,-8.0,7.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 03:00:00,17260.0,16.0,-8.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2015-01-08 04:00:00,17653.0,15.0,-4.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 19:00:00,11682.0,55.0,31.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2019-12-31 20:00:00,11443.0,54.0,30.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2019-12-31 21:00:00,11167.0,53.0,30.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2019-12-31 22:00:00,10839.0,48.0,31.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2019-12-31 23:00:00,10593.0,48.0,30.0,5.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [17]:
for i in range(1, 169):
    df_usable['lag#' + str(i)] = df['MW'].shift(i, fill_value=0)

df_usable

df_usable.to_csv('temp.csv')

/var/folders/bv/jm2_52y12t90b8n4lj42wlf00000gn/T/ipykernel_47547/15763229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_usable['lag#' + str(i)] = df['MW'].shift(i, fill_value=0)

In [9]:
x = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [14]:
model = SVR(kernel='rbf', C=1000.0, gamma=0.15)
model.fit(x_train, y_train)

SVR(C=1000.0, gamma=0.15)

In [15]:
pred = model.predict(x_test)

In [16]:
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(y_test, pred)

0.09245650206461979

In [25]:

from sklearn.metrics import mean_absolute_percentage_error

model_optimized = SVR(kernel='rbf', C=1000.0, gamma=0.1, epsilon=1)
model_optimized.fit(x_train, y_train)
pred_optimized = model_optimized.predict(x_test)
mean_absolute_percentage_error(y_test, pred_optimized)

0.09306798802270441